# Project exclude paths
/antismash/
/antismash_test_out/
/bigscape_output/
/bigscape_output_test/
/for_bigscape/
/old_folders/
/prokka_out/
/test_antismash/
/unzip/
/venv/
/zip/
/prokka_test/
/dfast_test/
/antismash_annotation_test/
/vb1/
/g11c_test/
